<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav>
    <header class="d-flex justify-content-center py-3 mb-2">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="/" class="nav-link <%= activePage === 'home' ? 'active' : '' %>">Home</a>
        </li>
        <li class="nav-item">
          <a href="/compose" class="nav-link <%= activePage === 'compose' ? 'active' : '' %>">Compose</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link <%= activePage === 'about' ? 'active' : '' %>">About</a>
        </li>
        <li class="nav-item">
          <a href="/contact" class="nav-link <%= activePage === 'contact' ? 'active' : '' %>">Contact</a>
        </li>
      </ul>
    </header>
  </nav>
</body>
</html>
