<%- include("partials/header.ejs") %>

<div class="container mt-5 text-center fs-3">
  <h1>About This Blog</h1>
  <p>This is a simple blog app built with Node.js, Express, and EJS.</p>
</div>

<%- include("partials/footer.ejs") %>
